@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins';
}

.main-header {
    background-color: rgba(45, 107, 55, 0.85);
    padding: 8px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.logo img {
    width: 150px;
    height: 50px;
    object-fit: contain;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.main-nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav a:hover{
    color: #acacab;
    font-size: large;
}

.btn {
    text-decoration: none;
    padding: 8px 19px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #D4A017;
    color: #22480B;
}

.btn-primary:hover {
    background-color: #e6b23a;
    padding: 10px 25px;
}

.btn-secondary {
    z-index: 3;
    background-color: #bd951b;
}

.btn-secondary:hover {
    background-color: #e6b23a;
    padding: 10px 25px;
}

.hero {
    min-height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.4) 60%,
        #E6E9EB 100%
    );
    z-index: 2;
}

.background-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: imageSlideShow 20s infinite;
    z-index: 1;
}

@keyframes imageSlideShow {
    0% {
        background-image: url('/assets/images/home-img.jpg');
        opacity: 1;
    }

    20% {
        background-image: url('/assets/images/home-img.jpg');
        opacity: 1;
    }

    25% {
        background-image: url('/assets/images/home-img2.jpg');
        opacity: 0;
    }

    30% {
        background-image: url('/assets/images/home-img2.jpg');
        opacity: 1;
    }

    45% {
        background-image: url('/assets/images/home-img2.jpg');
        opacity: 1;
    }

    50% {
        background-image: url('/assets/images/home-img3.jpg');
        opacity: 0;
    }

    55% {
        background-image: url('/assets/images/home-img3.jpg');
        opacity: 1;
    }

    70% {
        background-image: url('/assets/images/home-img3.jpg');
        opacity: 1;
    }

    75% {
        background-image: url('/assets/images/home-img4.jpg');
        opacity: 0;
    }

    80% {
        background-image: url('/assets/images/home-img4.jpg');
        opacity: 1;
    }

    95% {
        background-image: url('/assets/images/home-img4.jpg');
        opacity: 1;
    }

    100% {
        background-image: url('/assets/images/home-img.jpg');
        opacity: 0;
    }
}

.hero-content {
    z-index: 3;
    position: absolute;
    bottom: 150px;
    right: 50px;
    text-align:right;
    margin-right: 50px;
    max-width: 450px;
    text-shadow: 1px 1px 5px black;


}

.hero-headline {
    color: #FFFFFF;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}

.btn-secondary {
    z-index: 3;
    background-color: #bd951b;
    color: black;
    box-shadow: 1px 1px 3px black;
}

.sobre {
    background-color: #E6E9EB;
    padding: 80px 50px;
    text-align: center;
}

.sobre-titulo {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
    text-decoration: none;
}

.sobre-titulo a {
   text-decoration: none;
   color: black;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.feature-item {
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    text-align: center;
    padding: 20px;
}

.feature-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 25px;

}

.feature-item h3 {
    color: #333333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.feature-item p {
    font-size: 16px;
    line-height: 1.6;
}

.section-titulo {
    margin-bottom: 50px;
}

.plans-section {
    padding: 80px 20px;
    background-color: #ffffff;
    text-align: center;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.plan-card {
    background: #fff;
    border-radius: 15px;
    padding: 40px 30px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3 ease;
    border: 1px solid #f0f0f0;
}

.plan-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.price {
    margin-bottom: 30px;
    color: #5ccb5f;
}

.price .amount {
    font-size: 48px;
    font-weight: bold;
}

.plan-features {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    color: #666;
}

.plan-features li {
    margin: 10px 0;
    font-size: 16px;
}

.btn-plan {
    background-color: #5ccb5f;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.btn-plan:hover {
    background-color: #4bb54e;
}

.final-cta {
    background-color: #0B0033;
    color: #FFFFFF;
    padding: 100px 20px;
    text-align: center;
}

.final-cta h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.final-cta p {
    font-size: 18px;
    margin-bottom: 40px;
    opacity: 0.9;
}

.btn-cta-main {
    background-color: #108A44;
    color: white;
    padding: 15px 35px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-cta-outline {
    background-color: transparent;
    color: white;
    border: 1px solid #FFFFFF;
    padding: 15px 35px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.main-footer {
    background-color: #0B0033;
    color: #FFFFFF;
    padding: 60px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-footer a {
    text-decoration: none;
    color: white;
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
}

.footer-column h4 {
    margin-bottom: 20px;
    font-size: 22px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li,
.footer-column p {
    margin-bottom: 10px;
    font-size: 16px;
    opacity: 0.8;
}

.footer-logo {
    font-size: 26px;
    margin-bottom: 15px;
}